@import "@project/libs/assets/styles/mixins.scss";
@import "@project/libs/assets/styles/palette.scss";

.page__container {
  width: 100%;
  height: 100%;
  background: $dark;

  display: grid;
  grid-template-areas: 'sidebar header'
    'sidebar main'
    'sidebar footer';
  grid-template-columns: 188px 1fr;
  grid-template-rows: 64px auto 209px;

  @include desktop_sm {
    grid-template-areas: 'header'
      'main'
      'footer';
    grid-template-columns: 100%;
    grid-template-rows: 64px auto 209px;
  }

  @include desktop {
    grid-template-rows: 64px auto 500px;
  }

  @include mobile_sm {
    grid-template-areas: 'header' 
      'main'
      'footer';
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 500px;
  }
}

.no_scroll {
  overflow: hidden;
  position: fixed;
}

.scroll {
  overflow: auto;
}

.mainContainer {
  grid-area: main;  
  
  background-color: $black;

  border-radius: 30px 0 0 0;
  padding: 30px;
  padding-bottom: 45px;
  box-sizing: border-box;

  @include mobile_sm {
    border-radius: 0;
    padding: 20px;
  }
}

.on_blur {
  filter: blur(20px);
  transition: .2s filter;
}

.no_blur {
  filter: none;
  transition: .2s filter;
}

