@import '~@project/libs/assets/styles/variables';

.button{
  color: $color-white;
  text-align: center;
  background: rgba(0,0,0,.4);
  text-decoration: none;
  position: fixed;
  opacity: 0;
  z-index: 99999;
  bottom: 125px;
  right: -40px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  padding: 8px;
  color: $color-white;
  transition: all 0.5s ease-in-out;
  &.hidden{
    display: inline-block;
    right: 0;
    opacity: 1;
  }
}