@import "@project/libs/assets/styles/mixins.scss";
@import "@project/libs/assets/styles/palette.scss";

.container {
  grid-area: headerContent;

  display: grid;
  grid-template-areas: 'profile info note';
  grid-template-columns: auto 240px 24px;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;

  @include mobile_sm {
    grid-template-areas: 'info wallet profile';
    grid-template-columns: 90px 74px 32px;
    justify-content: space-between;
  }

  .head_user_contet__note {
    grid-area: note;

    @include mobile_sm {
      display: none;
    }
  }
}

.wallet_button {
  display: none;
  padding: 0;
  width: 66px;

  @include mobile_sm {
    display: block;
  }  
}