@import '~@project/libs/assets/styles/mixins';
@import '~@project/libs/assets/styles/palette';

.modal__container {
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100vh;

  @media (max-height: 800px) {
    // top: 140px;
  }

  @include mobile_sm {
    margin-left: 0;
  }

  .modal__paper {
    border-radius: 20px;
    padding: 0;
    width: max-content;
    margin-left: 188px;
    position: relative;
    
    .close__button__box {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 200;
    }
  }

}

.open {
  display: grid;
}

.close {
  display: none;
}