@import '~@project/libs/assets/styles/mixins';
@import '~@project/libs/assets/styles/palette';

.modal__container {
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  
  @media (max-height: 800px) {
    // top: 140px;
  }

  @include mobile_sm {
    margin-left: 0;
    
    .w100 {
      width: 100vw;
    }

    .w100m40 {
      width: calc(100vw - 40px);
    }
  }

  .modal__paper {
    border-radius: 20px;
    padding: 0;
    margin-left: 188px;
    position: relative;
    
    @include mobile_sm {
      margin-left: 0;
    }
    
    .close__button__box {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 200;
    }
  }
}

.open {
  display: grid;
}

.close {
  display: none;
}
