@import '~@project/libs/assets/styles/mixins';
@import '~@project/libs/assets/styles/palette';

.modal__container {
  display: grid;
  align-self: center;
  justify-self: center;
  position: absolute;
  top: 186px;
  z-index: 1000;
  margin-left: 188px;

  @media (max-height: 800px) {
    top: 140px;
  }

  @include mobile_sm {
    margin-left: 0;
  }

  .modal__paper {
    border-radius: 20px;
    padding: 0;
  }

}

.open {
  display: grid;
}

.close {
  display: none;
}