@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";
@import "~@project/libs/assets/styles/fonts.scss";

.aboutBGD__container {
  width: 410px;

  @include mobile_sm {
    width: calc(100vw - 40px);
  }

  .aboutBGD__top {
    background-image:
      linear-gradient(to top, rgb(30, 32, 36) 0%, rgba(30, 32, 36, 0) 50%),
      url('~@project/libs/assets/images/aboutBgdBackground.svg'),
      url('~@project/libs/assets/images/singInBackground.png');
    background-repeat: no-repeat;
    background-position: top left, top 40px left, top 120px left 50%;
    background-size: 100%, 100%, 100%;
    height: 238px;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 16px;

    @include mobile_sm {
      background-position: top left, top 40px left, top 140px left 50%;
    }
    
    h3 {
      @include base_text;
      font-size: 28.6154px;
      color: $white;
      text-align: left;
      padding: 0;
      margin: 0;
      font-weight: bold;
    }
  }

  .aboutBGD__main {
    padding: 20px;
    padding-bottom: 33px;

    p.aboutBGD__title {
      @include base_text;
      font-size: 16px;
      font-weight: 500;
      color: $white;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    p {
      @include base_text;
      color: $middle;
      font-size: 12px;
      font-weight: normal;

      a:link, a:visited {
        color: $blue;
        text-decoration: none;
      }

      a:hover {
        color: $blue1;
      }

      span.white__text {
        color: $white;
      }

      span.blue__text {
        color: $blue;
      }
    }
  }
}
