@import '~@project/libs/assets/styles/mixins';
@import '~@project/libs/assets/styles/palette';

.container {
  // grid-area: note;
  &:hover {
    cursor: pointer;
  }

  @include mobile_sm {
    text-align: right;
  }

  .header__note {
    width: 24px;
    height: 24px;
  }
}