@import "~@project/libs/assets/styles/palette.scss";
@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/fonts.scss";

.dialog__modal__container {
  position: absolute;
  left: 170px;
  @include paper;
  box-shadow: 0 0 200px 200px rgba(17, 17, 21, .6);
  padding-bottom: 36px;

  .dialog__close__button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .dialog__content__container {
    width: 512px;
    
    h2 {
      @include base_text;
      font-size: 21px;
      font-weight: 400;
      color: $white;
      margin: 26px auto 17px auto;
      width: max-content;
    }
  
    p {
      @include base_text;
      font-size: 14px;
      font-weight: 400;
      color: $white;
      margin: 0 auto;
      width: 260px;
      text-align: center;
    }
  
    .buttons__box {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 16px;
      margin-top: 28px;
      justify-content: center;
  
      button {
        height: 45px;
        border-radius: 10px;
        padding: 12.5px 26px;
        background-image: none;
        width: max-content;
      }
    
      button.blue {
        background-image: none;
        background-color: $blue;
      }
    
      button.outline {
        border: .5px solid $middle;
        background-color: transparent;
      }
    }
  }
}
