@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";
@import "~@project/libs/assets/styles/fonts.scss";

.gameBlock__container {
  grid-area: game;

  @include mobile_sm {
    width: calc(100vw - 40px);
  }

  .gameCanvas__box {
    position: relative;
    padding-top: 42px;
    background-image: url('~@project/libs/assets/images/diceDemoBkg.png');
    background-repeat: no-repeat;
    background-position: top 70px right 20%;
    background-size: 136px;
    height: 170px;

    @include mobile_sm {
      background-image: url('~@project/libs/assets/images/diceDemoBkgBlack.png');
    }
    
    .gameCanvas__win {
      width: 52px;
      height: 36px;
      border-radius: 15px;
      background-color: $blue;
      display: grid;
      align-items: center;
      justify-content: center;
      @include base_text;
      font-size: 16px;
      font-weight: 500;
      color: $white;
      box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .6);
      padding-top: 2px;
      position: absolute;
      top: 42px;
      right: 25%;
    }

    .gameCanvas__dice {
      position: absolute;
      top: 80px;
      right: 23%;

      img {
        width: 62px;
        height: 62px;
        margin: 10px 0;
      }
    }
  }

  .separator {
    width: 100%;
    height: .5px;
    background-color: $middle;
    margin: 30px 0;

    @include mobile_sm {
      display: none;
    }
  }

  p {
    @include base_text;
    color: $middle;
    font-size: 14px;
    text-align: left;
    padding-bottom: 10px;
  }

  .gameBlock__payout__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 20px;

    @include mobile_sm {
      width: calc(100vw - 60px);
      grid-template-columns: calc(50vw - 55px) calc(50vw - 55px);
    }

    .gameBlock__input {
      height: 64px;
      font-size: 18px;
      
      @include mobile_sm {
        width: 90px;
      }

      @media (max-width: 400px) {
        width: 80px;
      }
    }

    .gameBclock__rollOver__box {
      display: grid;
      grid-template-columns: 1fr 64px;
      column-gap: 10px;
      align-items: flex-end;
      
      .gameBlock__rollField {
        .gameBlock__rollOver {
          height: 64px;
          display: grid;
          align-items: center;
          width: 100%;
          padding: 20px;
          @include base_text;
          font-size: 18px;
          font-weight: 500;
          color: $white;
          background-color: $black;
          border-radius: 15px;
        }
      }

      button.gameBlock__rollButton {
        height: 64px;
        width: 64px;
        border-radius: 15px;
        background-color: $black;

        .rollButton__image {
          width: 24px;
          height: 24px;
          transform: rotate(90deg) scale(1, -1);
        }
      }

    }
  }

  .gameBlock__winChance {
    display: grid;
    padding: 10px;
    width: 100%;
    height: 64px;
    background-color: $black;
    border-radius: 15px;
    grid-template-columns: 1fr repeat(4, auto);
    column-gap: 8px;
    align-items: center;
    align-content: center;

    p {
      @include base_text;
      font-size: 18px;
      font-weight: 500;
      color: $white;
      padding: 0;
      padding-left: 10px;


      @media (max-width: 400px) {
        font-size: 14px;
      }
    }

    .winChance__button {
      background-color: $dark;
      padding: 14px 12px 10px 12px;
      text-align: center;
      color: $white;
      @include base_text;
      font-size: 18px;
      font-weight: 500;
      background-image: none;
      height: 46px;
      width: max-content;
      line-height: 100%;


      @media (max-width: 400px) {
        font-size: 14px;
        padding: {
          left: 8px;
          right: 8px;
        } 
      }
    }
  }

  .gameBlock__footer {
    display: grid;
    grid-template-columns: 170px 80px;
    justify-content: space-between;
    margin-top: 15px;
    align-content: center;

    .buttons__box {
      display: grid;
      grid-template-columns: repeat(5, 18px);
      column-gap: 20px;
      align-items: center;

      img {
        width: 18px;
        height: 18px;
      }
    }

    p {
      @include base_text;
      font-size: 10px;
      color: $middle;
      padding-bottom: 0;
      display: grid;
      align-self: center;
    }
  }

  .gameCanvas__slider__percentage {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;

    p {
      @include base_text;
      color: $middle;
      font-size: 12px;
      font-weight: normal;
      padding: 0;
    }
  }
}

.mobile__paper {
  @include mobile_sm {
    margin-top: 40px;
    @include paper;
    padding: 15px;
  }
}