@import '~@project/libs/assets/styles/mixins';
@import '~@project/libs/assets/styles/variables';
@import '~@project/libs/assets/styles/palette';

.container {
  grid-area: links;
  margin-top: 36px;
  width: max-content;

  @include mobile_sm {
    margin: 12px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .links__text {
    @include footer_text;
    text-transform: uppercase;

    @include mobile_sm {
      display: inline-block;
    }
  }
}

