@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";
@import '~@project/libs/assets/styles/variables';
@import '~@project/libs/assets/styles/fonts';

%big-text-base {
  font-family: $montserrat;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 110%;
}

.dashboard__container {
  display: grid;
  grid-template-areas: 'title locked' 'details percentage';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 50px;
  justify-content: space-between;
  max-width: 536px;
  grid-area: bgdDashboard;
  @include paper;
  width: 100%;
  height: 161px;
  margin-top: 30px;
  align-self: flex-end;

  @include mobile_sm {
    max-width: calc(100vw - 40px);
    height: auto;
    grid-template-areas: 'title' 'locked' 'percentage';
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
  }

  .details__desktop {
    display: block;
    grid-area: details;
    align-self: flex-end;

    @include mobile_sm {
      display: none;
    }
  }
}