@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";
@import "~@project/libs/assets/styles/fonts.scss";

.roulette__container {

  .roulette__title {
    margin: 20px;
    margin-bottom: 0;
  }

  .roulette__content__box {
    display: grid;
    grid-template-areas: 'roulette info';
    grid-template-columns: 557px 341px;
    background-image:
      url('~@project/libs/assets/images/rouletteBkgStars.svg'),
      url('~@project/libs/assets/images/rouletteBackground.png');
    background-size: 46%, 90%;
    background-position: top 47px left 87px, top -88px left -20px;
    background-repeat: no-repeat, no-repeat;

    @include mobile_sm {
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
      grid-template-areas: 'roulette' 'info';
      background-size: 100%, 140vw; // 150%;
      background-position: top -48px left -16px;
    }
  }

  .roulette__game {
    grid-area: roulette;
    width: 499px;
    height: 499px;
    border: 1px solid green;

    .spin__button {
      height: 44px;
      width: 280px;
      margin: 10px auto 41px auto;
      background-color: $blue;
      background-image: none;
    }

    p {
      font-size: 16px;
      color: $middle;
      margin-top: 20px;

      strong {
        color: $white;
        font-weight: 500;
      }
    }

    .timer__container {
      display: grid;
      grid-template-columns: 40px 20px 40px 20px 40px;
      grid-template-rows: 44px;
      margin: 0 auto;
      width: 160px;
      
      .points {
        margin: 15px 8px;
        display: grid;
        grid-template-columns: 4px;
        grid-template-rows: 4px 4px;
        row-gap: 6px;

        .point {
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: $middle;
        }
      }

      .timer__windowTime {
        background-color: $black;
        border-radius: 10px;
        width: 40px;
        height: 44px;
        font-family: $montserrat;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    @include mobile_sm {
      // margin: 10px auto 41px auto;
      width: calc(100vw - 80px);
      height: calc(100vw - 80px);
      margin-left: 20px;
      display: grid;
      grid-template-areas: 'game' 'spining';
      grid-template-rows: calc(100vw - 40px) auto;
      row-gap: 47px;
    }

    .roulette__spining_box {
      grid-area: spining;
    }
  }

  .roulette__info {
    grid-area: info;
    padding: 40px 30px 0 0;

    .roulette__info__textBlock {
      p {
        font-family: $helvetica;
        font-size: 14px;
        color: $middle;
        font-weight: 400;
        text-align: left;
        line-height: 140%;
        padding-bottom: 10px;
      }

      @include mobile_sm {
        display: none;
      }
      
    }
    
    @include mobile_sm {
      padding: 0;
    }

    .roulette__info__gameMonitor {
      background-color: $black;
      overflow: hidden;
      border-radius: 20px;
      height: 65px;
      width: 321px;
      margin-bottom: 30px;
      margin-top: 70px;

      @media (max-height: 768px) {
        margin-top: 20px;
      }

      @include mobile_sm {
        width: calc(100vw - 80px);
        margin: 0 auto 30px auto;
      }

      .users__container {
        display: grid;
        grid-template-columns: repeat(11, 140px);
        position: relative;
        column-gap: -70px;
        top: 0;
        left: 0px;
        padding-top: 10px;
        transition: .5s left;

        .user__box {
          text-align: center;
          display: grid;
          grid-template-columns: auto 16px auto;
          justify-content: center;
          column-gap: 4px;
          width: 140px;
          // margin-left: -140px;

          &:nth-child(even) {
            margin-top: 22px;
            // margin-left: 0px;
          }

          p {
            @include base_text;
            font-size: 12.3427px;
            font-weight: 500;
            color: $white;
          }
  
          p.user__currencyCount {
            color: $green2;
          }
  
          img {
            width: 16px;
            height: 16px;
          }
        }
      }

    }
  }
}
