@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";

.item__container {
  display: grid;
  grid-template-rows: 24px 17px;
  align-content: center;
  justify-items: center;
  width: 69px;
  height: 69px;
  text-align: center;
  margin-top: 43px;

  img {
    width: 24px;
    height: 24px;
  }

 
  .item__title {
    @include base_text;
    color: $white;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

.item_active {
  background-color: $blue;
  border-radius: 15px;
}

.item_inactive {
  background-color: transparent;
}


