@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";

.bets__header__container {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  grid-template-areas: 'calendar tabs select';
  justify-content: space-between;
  padding: 30px 40px 34px 40px;
  column-gap: 115px;

  @include mobile_sm {
    grid-template-areas: 'calendar select' 'tabs tabs';
    grid-template-columns: 
      calc(((100vw - 60px) / 2) - 10px) calc(((100vw - 60px) / 2) - 20px);
    grid-template-rows: 44px 35px;
    row-gap: 30px;
    column-gap: 10px;
    width: calc(100vw - 60px);
    padding: 30px 20px;
  }

  .header__calendar__button {
    grid-area: calendar;
  }

  .header__selectCurrency {
    grid-area: select;

    @include mobile_sm {
      padding-left: 0px;
    }
  }

  .select__wrap__container {
    .select__item__box {
      display: grid;
      grid-template-columns: 18px 1fr;
      column-gap: 8px;
      padding: 12px;
      padding-top: 12px;
      align-items: center;  
      height: 44px;
  
      img {
        width: 18px;
        height: 18px;
      }
    
      .select__item__text {
        @include base_text;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .select__container {
    height: 44px;
    padding-top: 0;

    .select__items {
      row-gap: 0;
      padding-top: 12px;
    }
        
    .select__item__box {
      display: grid;
      grid-template-columns: 18px 1fr;
      column-gap: 8px;
      padding: 12px;
      padding-top: 12px;
      align-items: center;  
      height: 44px;
  
      img {
        width: 18px;
        height: 18px;
      }
    
      .select__item__text {
        @include base_text;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .calendar__button {
    height: 44px;
  }

  .header__tabs {
    grid-area: tabs;

    .header__tabs__box {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, auto);
      border-bottom: .5px solid $middle;
      justify-content: space-between;

      @include mobile_sm {
        width: 100%;
      }

      .tabs__item {
        @include base_text;
        font-size: 18px;
        font-weight: 500;
        color: $white;
        padding-bottom: 10px;
        width: max-content;

        &:hover {
          cursor: pointer;
        }
      }

      .tab__left {
        text-align: left;
      }

      .tab__middle {
        text-align: center;
      }

      .tab__right {
        text-align: right;
      }

      .active {
        border-bottom: 4px solid $blue;
      }

      .enactive {
        border-bottom: 4px solid transparent;
      }
    }
  }
}

.bets__main__container {
  padding: 0 40px 34px 40px;

  @include mobile_sm {
    padding: 0 10px
  }
}
