@import '~@project/libs/assets/styles/mixins';
@import '~@project/libs/assets/styles/palette';

.container {
  grid-area: roulette;
  display: none;

  @include mobile_sm {
    display: block;
  }

  .header__roulette {
    width: 28px;
    height: 28px;
  }
}