@import "~@project/libs/assets/styles/palette.scss";
@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/fonts.scss";

.bankroll__container {
  display: grid;
  grid-template-columns: 516px 322px;
  grid-template-areas: 'bankroll_head bankroll_header' 'bankroll_tabs bankroll_top' 'bankroll_footer .';
  column-gap: 20px;
  width: 898px;
  padding: 20px;
  
  h2 {
    grid-area: bankroll_head;
    font-size: 28.62px;
  }

  .bancroll__top10__box {
    grid-area: bankroll_top;

    h3 {
      text-align: center;
      font-size: 18px;
      font-family: $helvetica;
      width: 100%;
      border-bottom: .5px solid $middle;
      padding-bottom: 14px;
      margin-top: 17px;
    }
    table {
      width: 100%;
    }

    th {
      @include base_text;
      color: $middle;
      font-size: 12px;
      text-align: left;
      padding-top: 23px;
    }

    td {
      border-bottom: .5px solid $middle;
      font-size: 14px;
      font-weight: 500;
      color: $white;
      padding-top: 15px;
      padding-bottom: 19px;
      vertical-align: middle;

      img {
        width: 20px;
        height: 20px;
      }

      span {
        color: $middle;
      }
    }

    td.right {
      text-align: right;
      width: 75px;
    }
  }

  .bankroll__footer {
    grid-area: bankroll_footer;

    button {
      background-image: none;
      display: grid;
      grid-template-columns: 18px auto;
      column-gap: 4px;
      align-items: center;
      padding: 0;

      p {
        @include base_text;
        font-size: 14px;
        color: $blue;
        line-height: 100%;
        padding: 0;
        padding-top: 4px;
      }
    }
  }

}
