@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";
@import "~@project/libs/assets/styles/fonts.scss";

.bets__container {
  height: 280px;

  @include mobile_sm {
    margin-top: 23px;
  }
}

.bets__header {
  display: grid;
  grid-template-columns: 48px 1fr 48px 49px 48px;
  column-gap: 10px;

  p {
    @include base_text;
    color: $middle;
    font-size: 12px;
    text-align: left;
  }

  .center {
    text-align: center;
  }
}

.bets__table__container {
  position: relative;
  height: 240px;

  .table__shadow {
    position: absolute;
    bottom: 0;
    height: 60px;
    background-image: linear-gradient(to top, $black 0%, transparent 100%);
    width: 100%;
  }
  
  .bets__table__box {
    overflow-y: scroll;
    scrollbar-color: $middle $dark2;
    scrollbar-width: 4px;
    height: 240px;


    &::-webkit-scrollbar-track {
      background-color: $dark2;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $middle;
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }
    
    .bets__table__row {
      border-bottom: .5px solid $middle;
      padding: 20px 5px 23px 0;
      display: grid;
      grid-template-columns: 48px 1fr 48px 49px 48px;
      column-gap: 10px;

      p {
        @include base_text;
        font-size: 12px;
        font-weight: 500;

        span {
          color: $middle;
        }
      }
    }
  }
}