@import '~@project/libs/assets/styles/mixins';
@import '~@project/libs/assets/styles/variables';
@import '~@project/libs/assets/styles/palette';

.container {
  /* border: solid 2px yellow; */

  position: absolute;
  width: 188px;
  top: 0;
  left: 0;
  bottom: 0;

  @include tablet{
    display: none;
   }
}

.logo {
  margin: 30px 30px 0px;
}


