@import '~@project/libs/assets/styles/mixins';
@import '~@project/libs/assets/styles/variables';
@import '~@project/libs/assets/styles/palette';

.container {
  grid-area: sidebar;

  display: grid;
  grid-template-areas: 'logo' 'main' 'footer';
  grid-template-rows: 78px auto 64px;

  @include desktop_sm {
    display: none;
  }

  @include mobile_sm {
    display: none;
  }

  .sidebar__logo {
    grid-area: logo;

    .sidebar__logo__image {
      margin: 30px 30px 0px;

      @include mobile_sm {
        margin: 19px 0 0 20px;
      }
    }
  }

  .sidebar__main {
    grid-area: main;
  }

  .sidebar__footer {
    grid-area: footer;
  }

}




