@import '~@project/libs/assets/styles/mixins';
@import '~@project/libs/assets/styles/variables';
@import '~@project/libs/assets/styles/palette';

.container {
  width: 231px;
  height: 68px;
  grid-area: about;
  
  @include mobile_sm {
    text-align: center;
    margin: 0 auto;
    height: auto;
  }

  .about__text {
    @include footer_text;
  
    @include mobile_sm {
      text-align: center;
    }
  }
  
  .about__logo {
    width: 77px;
    height: 51px;
  }
}

