@import '~@project/libs/assets/styles/mixins';
@import '~@project/libs/assets/styles/variables';
@import '~@project/libs/assets/styles/palette';

.container {
  grid-area: rate;
  .rate__text {
    @include footer_text;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
  }
}