@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";
@import "~@project/libs/assets/styles/fonts.scss";

.roulette__info__gameMonitor {
  background-color: $black;
  overflow: hidden;
  border-radius: 20px;
  height: 65px;
  width: 321px;
  margin-bottom: 30px;
  margin-top: 70px;

  @media (max-height: 768px) {
    margin-top: 20px;
  }

  @include mobile_sm {
    width: calc(100vw - 80px);
    margin: 0 auto 30px auto;
  }

  .users__container {
    display: grid;
    grid-template-columns: repeat(11, 140px);
    position: relative;
    column-gap: -70px;
    top: 0;
    left: 0px;
    padding-top: 10px;
    transition: .5s left;

    .user__box {
      text-align: center;
      display: grid;
      grid-template-columns: auto 16px auto;
      justify-content: center;
      column-gap: 4px;
      width: 140px;

      &:nth-child(even) {
        margin-top: 22px;
      }

      p {
        @include base_text;
        font-size: 12.3427px;
        font-weight: 500;
        color: $white;
      }

      p.user__currencyCount {
        color: $green2;
      }

      img {
        width: 16px;
        height: 16px;
      }
    }
  }

}