@import '~@project/libs/assets/styles/mixins';
@import '~@project/libs/assets/styles/variables';
@import '~@project/libs/assets/styles/palette';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 27px;
  padding: 0 30px 40px;

  @include mobile_sm {
    width: 100%;
    justify-items: stretch;
    text-align: center;
  }

  .sidebar_footer__icon {
    width: 24px;
    height: 24px;
  }
}