@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";

.withdraw__container {
  @include base_text;
  color: $white;
  font-size: 18px;

  .form_element__box {
    padding: 15px 0;

    input.form_element__input {
      height: 86px;
      font-size: 24px;
      font-weight: 500;
      width: 100%;
      padding-right: 20px;

      @include mobile_sm {
        font-size: 18px;
      }
    }

    button {
      background-color: $blue;
      background-image: none;
      width: 100%;
      height: 53px;
    }
  }

}