@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";


.wallet__container {
  color: $white;
  display: grid;
  grid-template-areas: 'walletPanel balance'
    'walletPanel bgdDashboard';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 50px;
  max-width: 1160px;
  align-items: stretch;

  @include mobile_sm {
    grid-template-areas: 'walletPanel' 'bgdDashboard' 'tabsMobile';
    grid-template-rows: auto auto 112px;
    grid-template-columns: 100%;
    height: auto;
  }
  
  .wallet__panel {
    grid-area: walletPanel;

    h2 {
      color: $white;
    }
  }

  .wallet__balance {
    grid-area: balance;

    @include mobile_sm {
      display: none;
    }
  }

  .bgd_dashboard__container {
    grid-area: bgdDashboard;
    @include paper;
    width: 100%;
    height: 161px;
    margin-top: 30px;

    @include mobile_sm {
      max-width: calc(100vw - 40px);
      height: auto;
    }
  }
}