@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";

.active__container {
  grid-area: active;
  border-radius: 15px;
  background-image: linear-gradient(180deg, $blue 0%, $blue1 100%);
  margin-top: 30px;
  width: 516px;
  height: 96px;
  display: grid;
  align-items: center;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .6);
  position: relative;

  @include mobile_sm {
    width: calc(100vw - 80px);
    height: 116px;
  }

  .active__container__otherBkg {
    z-index: 1;

    .active__container__otherBkg__image {
      max-width: 516px; 

      @include mobile_sm {
        display: none;
      }
    }
  }

  .active__container__content {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;

    .active__title {
      @include base_text;
      font-size: 12px;
      color: $white;
      font-weight: 500;
      margin: 0;
      margin-bottom: 10px;
    }
  
    .active__text {
      @include base_text;
      font-size: 16px;
      color: $white;
      font-weight: bold;
    }
  }
}