@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";

.changePass__container {
  width: 410px;

  .changePass__head {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 24px;
    align-items: flex-end;

    .changePass__head__title {
      @include base_text;
      font-size: 28.62px;
      font-weight: bold;
      line-height: 1.1;
      text-align: left;
      color: $white;
    }
  }

  .changePass__inputs__box {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 32px;
    padding: 22px 20px 24px 20px;
    border-bottom: .5px solid $middle;
  }

  .changePass__submit__box {
    padding: 24px 20px 30px 20px;

    .submit__button {
      height: 42px;
      font-size: 14px;
    }
  }
}