@import '~@project/libs/assets/styles/mixins';
@import '~@project/libs/assets/styles/variables';
@import '~@project/libs/assets/styles/palette';

.container {
  display: grid;
  grid-template-rows: auto auto;
  padding: 10px;

  .nav_top__container {
    display: grid;
    grid-template-rows: repeat(4, 49px);
    row-gap: 18px;
    margin-top: 60px;
    margin-bottom: 24px;
  }

  .nav_bottom__container {
    display: grid;
    grid-template-rows: repeat(2, 49px);
    row-gap: 18px;
    margin-top: 24px;
  }

  .separator {
    width: calc(100% - 40px);
    margin: 0 10px;
    height: .5px;
    background-color: $middle;
  }
}

.nav__item {
  display: grid;
  align-items: center;
  grid-template-columns: 32px auto 16px;
  width: 100%;
  border-radius: 12px;
  padding: 0 17px 0 8px;
  &:hover {
    cursor: pointer;
  }

  p {
    @include base_text;
    text-align: left;
    font-size: 16px;
  }

  img {
    width: 32px;
    height: 32px;
  }

  @include mobile_sm {
    width: 188px;
  }
}

.active {
  background-image: linear-gradient(to right, $dark 0%, $blue 100%);

  .arrow {
    opacity: 1;
    transform: rotate(-90deg);
    color: $white;
    width: 16px;
    height: 16px;
  }
}

.inactive {
  background: transparent;

  .arrow {
    opacity: 0;
  }
}