@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";

.panel__main__container {
  margin-top: 18px;
  display: grid;
  row-gap: 30px;

  .panel__main__personal {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    column-gap: 30px;

    @include mobile_sm {
      grid-template-columns: 1fr;
    }

    .personal__avatar {
      @include mobile_sm {
        display: none;
      }
    }
  }
  
  .panel__main__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 22px;
    margin-top: 10px;

    @include mobile_sm {
      grid-template-columns: 1fr;
      grid-template-rows: 44px 44px;
      row-gap: 20px;
    }
  
    .button {
      background-color: $black;
      background-image: none;
      width: 100%;
      height: 44px;
    }
  }

}
