@import '~@project/libs/assets/styles/mixins';
@import '~@project/libs/assets/styles/palette';

.container {
  grid-area: info;

  display: grid;
  grid-template-areas: 'currency count';
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr;
  align-items: center;
  box-sizing: border-box;

  @include mobile_sm {
    grid-template-areas: 'currency' 'count';
    grid-template-columns: 44px;
    grid-template-rows: 1fr 1fr;
  }

  .header_info__currency {
    grid-area: currency;
    display: grid;
    grid-template-areas: 'text arrow';
    align-content: center;
    padding: 0 10px;
    background: none;

    &:hover {
      cursor: pointer;
    }

    .text {
      @include footer_text;
      font-size: 18px;
      font-weight: bold;
      color: $white;

      grid-area: text;

      @include mobile_sm {
        font-size: 12px;
      }
    }

    .header_info__curency__arrow {
      grid-area: arrow;
      height: 24px;
      width: 24px;
    }
  }

  .header_info__count {
    grid-area: count;
    padding: 0 12px 0 0;

    .text {
      @include footer_text;
      color: $white;
      font-size: 18px;
      @include mobile_sm {
        font-size: 12px;
      }

      .text_pale {
        @include footer_text;
        font-size: 18px;
        @include mobile_sm {
          font-size: 12px;
        }
      }
    }
  }

}

.balance__paper {
  position: absolute;
  top: 84px;
  right: 135px;
  padding: 20px;
  padding-bottom: 30px;
  z-index: 500;

  @include mobile_sm {
    right: 20px;
  }

  h4 {
    @include base_text;
    font-size: 18px;
    color: $middle;
    font-weight: 500;
    max-width: 166px;
  }

  .balance__row {
    border-bottom: .5px solid $middle;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 90px 1fr 57px;
    column-gap: 20px;

    .balance__row__currency {
      display: grid;
      align-items: center;
      grid-template-columns: 24px auto 16px;
      @include base_text;
      color: $white;
      font-size: 14px;
      font-weight: 500;
      text-align: left;

      img {
        width: 22px;
        height: 22px;
      }

      img.question {
        width: 16px;
        height: 16px;
      }
    }

    .balance__row__quantity {
      @include base_text;
      color: $white;
      text-align: left;
      font-size: 12.4px;
      font-weight: 500;
    }

    .balance__row__usd {
      @include base_text;
      color: $white;
      text-align: left;
      font-size: 12.4px;
      font-weight: 500;

      span {
        color: $middle;
      }
    }
    
    .question__button {
      background: none;
      width: max-content;
      height: max-content;
      margin: 0;
      padding: 0;
    }
  }
}