@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";
@import "~@project/libs/assets/styles/fonts.scss";

.autoTab__container {
  width: 100%;
  padding: 0 20px;

  .autoTab__titleWithData {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;

    h4 {
      @include base_text;
      font-size: 12px;
      text-align: left;
      color: $middle;
      font-weight: normal;
    }

    p {
      @include base_text;
      font-size: 12px;
      text-align: right;
      color: $white;
      font-weight: normal;
    }
  }
}