@import '~@project/libs/assets/styles/variables';
@import '~@project/libs/assets/styles/palette';

.container {
  border: solid 2px green;
  height: 64px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: $white;
}

.button {
  margin-right: 20px;
}