@import '~@project/libs/assets/styles/mixins';
@import '~@project/libs/assets/styles/variables';
@import '~@project/libs/assets/styles/palette';

.container {
  /* border: solid 2px green; */
  
  grid-area: header;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  height: 64px;
  color: $white;

  @include tablet{
   height: 74px;
  }
}

.button {
  margin-right: 20px;
  
  @include tablet{
    height: 27.41px;
  }
}

.buttonSignIn {

  @include tablet{
    margin-right: 8px;
  }
}