@import "~@project/libs/assets/styles/palette.scss";
@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/fonts.scss";

.help__container {
  width: 372px;

  .back__button {
    background-image: none;
    background-color: $blue;
    width: 100%;
    height: 44px;
    margin-top: 24px;
  }

  h2 {
    @include base_text;
    font-size: 28.62px;
    color: $white;
    text-align: left;
    font-weight: bold;
  }

  h3 {
    @include base_text;
    font-size: 16px;
    color: $white;
    text-align: left;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  p {
    @include base_text;
    font-size: 12px;
    color: $middle;
    text-align: left;
  }

  a {
    color: $blue;
  }
}