@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";
@import "~@project/libs/assets/styles/fonts.scss";

.register__container {

  @include mobile_sm {
    background-image: url('~@project/libs/assets/images/bunnyGameLogoSmall.svg');
    background-position: top 17px left 20px;
    background-size: 79px;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    align-content: center;
  }

  .register__top {
    padding: 32px 20px 24px 20px;
    border-bottom: .5px solid $middle;
    background-image: url('~@project/libs/assets/images/singInBackground.png');
    background-position: top 0px left 50%;
    background-size: 300px;
    background-repeat: no-repeat;

    @include mobile_sm {
      background: none;
    }
    
    .register__image {
      display: grid;
      justify-content: center;

      @include mobile_sm {
        display: none;
      }
    }

    h3.register__title {
      color: $white;
      font-weight: bold;
      text-align: center;
      margin-top: 12px;

      .register__title__blue {
        color: $blue;
      }

      @include mobile_sm {
        text-align: left;
        width: 150px;
      }
    }

    .register__inputMail__box {
      margin-top: 24px;
      margin-bottom: 17px;
    }

    .register__acceptPassword__box {
      margin-top: 17px;
    }

    input.register__input {
      height: 44px;
      width: 370px;
      border-radius: 15px;

      @include mobile_sm {
        width: 100%;
      }
    }

    .register__input__label {
      font-size: 14px;
    }
  }

  .register__bottom {
    padding: 24px 20px;

    .register__button {
      height: 44px;
      width: 100%;
    }

    p {
      @include base_text;
      font-size: 14px;
      color: $middle;
      text-align: center;
      margin: 32px 0 16px;
    }
  }
}