@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";

.select__container {
  width: 516px;
  display: grid;
  grid-template-columns: 281px 235px;
  height: 86px;
  background-color: $black;
  padding: 16px 30px 16px 14px;
  border-radius: 15px;

  @include mobile_sm {
    width: calc(100vw - 80px);
    grid-template-columns: 100%;
    grid-template-rows: 86px auto;
    height: auto;
    padding: 0;
    background-color: transparent;
  }

  .selectBlock {
    display: grid;
    align-items: flex-start;
    justify-content: flex-start;
    grid-template-columns: auto 24px;
    padding: 14px 0;
    width: 281px;
    height: 54px;
    border-right: .5px solid $middle;

    @include mobile_sm {
      border-right: 0;
      width: 100%;
      background-color: $black;
      height: 86px;
      padding-top: 30px;
      padding-left: 14px;
      border-radius: 15px;
    }


    .open {
      max-height: 1000px;
      overflow: visible;
      transition: .5s all;
    }
    
    .hidden {
      max-height: 54px;
      overflow: hidden;
      transition: .25s all;
    }

    .selectBlock__content {
      display: grid;
      align-items: center;
      justify-content: flex-start;
      grid-template-columns: auto;
      overflow: hidden;
      position: relative;
      background-color: $black;
      padding-left: 16px;
      padding-right: 16px;
      z-index: 100;

      .content__item {
        height: 54px;
      }
    }

    .selectBlock__arrow {
      width: 24px;
      height: 24px;
      &:hover {
        cursor: pointer;
      }

      img {
        height: 24px;
        width: 24px;
      }

      .arrow__up {
        transform: rotate(-180deg);
        transition: transform .5s;
      }

      .arrow__down {
        transform: rotate(0deg);
        transition: transform .5s;
      }
    }
  }

  .resultBlock {
    padding-left: 30px;
    display: grid;
    align-items: center;
    justify-content: flex-start;
    grid-template-columns: auto auto;

    @include mobile_sm {
      padding-left: 0;
      padding-top: 10px;
    }

    .resultBlock__title {
      @include base_text;
      color: $middle;
      font-size: 14px;
      padding-right: 12px;
    }

    .resultBlock__text {
      @include base_text;
      color: $white;
      font-size: 18px;
      font-weight: 500;
    }
  }
}