@import "~@project/libs/assets/styles/mixins.scss";
@import "~@project/libs/assets/styles/palette.scss";

.select__container {
  height: 64px;
  width: 100%;
  background-color: $black;
  border-radius: 15px;
  padding: 0;
  padding-right: 20px;
  box-sizing: border-box;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 24px;

  .select__itemsBlock {
    width: 100%;
    z-index: 100;
    display: grid;
    row-gap: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $black;
    overflow: hidden;
    border-radius: 15px;

    .select__item {
      @include base_text;
      color: $white;
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .items__show {
    max-height: 500px;
  }

  .items__hidden {
    max-height: 64px;
  }

  .select__arrow {
    padding-top: 20px;
    
    &:hover {
      cursor: pointer;
    }

    img {
      width: 24px;
      height: 24px;
    }

    .rolledUp {
      transform: rotate(0deg);
      transition: .5s transform;
    }

    .unrolled {
      transform: rotate(-180deg);
      transition: .5s transform;
    }
  }

  
}